<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>日事清</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <meta http-equiv="content-type" content="text/html;charset=utf8"/>
  <meta name="format-detection" content="telephone=no" />
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>-->
  <script src="https://unpkg.com/sortablejs@1.4.2"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!--<link rel="stylesheet" type="text/css" href="src/assets/tooltipster-master/dist/css/tooltipster.bundle.min.css" />-->

  <!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>-->
  <!--<script type="text/javascript" src="src/assets/tooltipster-master/dist/js/tooltipster.bundle.min.js"></script>-->

  <!-- VueSortable -->
  <script src="https://unpkg.com/vue-sortable@0.1.3"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js"></script>
  <script type="text/javascript" src="https://gosspublic.alicdn.com/aliyun-oss-sdk-4.4.4.min.js"></script>
  <!--<script src="https://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>-->
  <script type='text/javascript' src='https://assets.growingio.com/sdk/wx/vds-wx-plugin.js'></script>
  <script>
    var rsqConfig = {
      env: '<%= htmlWebpackPlugin.options.env %>',
      authServer: '<%= htmlWebpackPlugin.options.authServer %>',
      apiServer: '<%= htmlWebpackPlugin.options.apiServer %>',
      stsServer: '<%= htmlWebpackPlugin.options.stsServer %>',
      ossRegion: '<%= htmlWebpackPlugin.options.ossRegion %>',
      ossBucket: '<%= htmlWebpackPlugin.options.ossBucket %>',
      ossRoot: '<%= htmlWebpackPlugin.options.ossRoot %>',
      version: '<%= htmlWebpackPlugin.options.version %>'
    }
  </script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
//    (function () {
//      var width = document.documentElement.clientWidth
//      var style = document.createElement('style')
//      style.type = 'text/css'
//      style.innerHTML = 'html{ font-size:' + width / 10 + 'px; }'
//      var head = document.getElementsByTagName('head')[0]
//      head.appendChild(style)
//    })()
  </script>

  <style>
    html{
      height: 100%;
      overflow: hidden;
    }
    body{
      height: 100%;
    }
    #app{
      background-color: lightgray;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body>
<div id="app"></div>
<!--<div id="frmHeader" class="frm-header">-->
<!--<div id="frmTitle" class="frm-header-title"></div>-->
<!--<div id="frmBack" class="frm-header-button frm-abs&#45;&#45;left">-->
<!--&lt;&nbsp;返回-->
<!--</div>-->
<!--<div id="frmOptionButtons" class="frm-header-button frm-abs&#45;&#45;right">-->
<!--</div>-->
<!--</div>-->
<!--<div class="frm-webview">-->
<!--</div>-->
<!-- built files will be auto injected -->
</body>
</html>
