<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>日事清</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <meta http-equiv="content-type" content="text/html;charset=utf8"/>
  <meta name="format-detection" content="telephone=no" />
  <script src="https://rishiqing-front.oss-cn-beijing.aliyuncs.com/dingtalk/public/sortable.js"></script>
  <link rel="stylesheet" href="https://rishiqing-front.oss-cn-beijing.aliyuncs.com/dingtalk/public/jquery-ui.css">
  <script src="https://rishiqing-front.oss-cn-beijing.aliyuncs.com/dingtalk/public/vue-sortable.js"></script>
  <script src="https://jic.talkingdata.com/app/h5/v1?appid=BD3AFD2211754AF6BDBE2060F5E727E3&vn=ddp&vc=1.0.0-beta"></script>
  <script src="https://rishiqing-front.oss-cn-beijing.aliyuncs.com/dingtalk/public/moment.js"></script>
  <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js"></script>
  <script type="text/javascript" src="https://rishiqing-front.oss-cn-beijing.aliyuncs.com/dingtalk/public/gossip-public-alicdn.js"></script>
  <script>
    var rsqConfig = {
      env: '<%= htmlWebpackPlugin.options.env %>',
      authServer: '<%= htmlWebpackPlugin.options.authServer %>',
      apiServer: '<%= htmlWebpackPlugin.options.apiServer %>',
      stsServer: '<%= htmlWebpackPlugin.options.stsServer %>',
      remindServer: '<%= htmlWebpackPlugin.options.remindServer %>',
      autoOpenServer: '<%= htmlWebpackPlugin.options.autoOpenServer %>',
      ossRegion: '<%= htmlWebpackPlugin.options.ossRegion %>',
      ossBucket: '<%= htmlWebpackPlugin.options.ossBucket %>',
      ossRoot: '<%= htmlWebpackPlugin.options.ossRoot %>',
      version: '<%= htmlWebpackPlugin.options.version %>'
    }
  </script>
  <script>
  </script>

  <style>
    html{
      height: 100%;
      overflow: hidden;
    }
    body{
      height: 100%;
    }
    #app{
      background-color: lightgray;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body>
<div id="app"></div>
</html>
